.emergency-table {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.emergency-header {
    background-color: orangered;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 0.75rem;
    font-weight: bold;
}

.emergency-body {
    padding: 1rem;
}

.emergency-entry {
    box-shadow: orangered 0px 5px 15px;
}

.emergency-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

.emergency-numbers > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
