aside {
    position: fixed;
    top: 3.5rem;
    right: 10px;
    width: 80px;
    height: calc(100% - 4rem);
    padding: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
}

aside>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

aside>ul>li {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #D5E9F6cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside>ul>li:hover {
    background-color: #c5d9f6ff;
}

aside>ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
}

aside>ul>li>a>img {
    height: 30px;
    padding-bottom: 0.5rem;
}

aside>ul.jura>li {
    background-color: #F64020cc;
}
aside>ul.jura>li:hover {
    background-color: #F63010ff;
}

@media (min-width: 768px) {
    aside {
        right: 20px;
        width: 100px;
    }
aside>ul>li {
    height: 100px;
    width: 100px;
    }
    aside>ul>li>a>img {
        height: 40px;
    }
}
