.timetable {
    margin: 0;
}

.timetable > h2 {
    margin-bottom: 0px;
}

.timetable > ul {
    margin: 0;
    padding: 0;
}

.time-entry {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 3rem;
    border-bottom: 1px solid #ccc;
}

.time-entry:nth-child(2n) {
    background-color: #f5f5f5;
}

.arrival-departure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
}

.spacer {
    margin: 2rem auto;

    border: 1px solid lightgrey;
    height: 0px;
    width: 15rem;
    border-radius: 5px;
}

.downhill-times {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.downhill-col:nth-child(2n) {
    background-color: lightgrey;
}

.downhill-col {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
}

.downhill-col >span {
    text-align: center;
}

.downhill-col >span:first-child {
    font-weight: bold;
    text-align: left;
}

.traincomposition-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.25rem;
    align-items: center;
}
.traincomposition-row:nth-child(2n) {
    background-color: lightgrey;
}

.waggon-composition {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-evenly;
}

.class-and-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-and-lp > span:first-child {
    font-weight: bold;
}

.inset {
    margin: 1rem 4rem 1rem 0rem;
}
